{% extends "AdministrationApp/base.html" %}
{% load custom_tags %}
{% block content %}
    <h2>Adding user</h2>
    <form id="addUserForm" method="POST">
        {% csrf_token %}
        <p>
            <label for="username">Username:</label>
            <input type="text" name="username" maxlength="150" required id="username">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" maxlength="150" id="password" required>
        </p>
        <p>
            <label for="first_name">First name:</label>
            <input type="text" name="first_name" maxlength="150" id="first_name">
        </p>
        <p>
            <label for="last_name">Last name:</label>
            <input type="text" name="last_name" maxlength="150" id="last_name">
        </p>
        <p>
            <label for="email_address">Email address:</label>
            <input type="text" name="email_address" maxlength="150" id="email_address">
        </p>
        <p>
            <label for="groups"> Select group:</label>
            <select name="groups" id="groups" required>
                <option value="" selected disabled hidden>Select a group</option>
                <option value="members">members</option>
                {% if request.user|has_group:"admin_gp" %}
                <option value="admin_item_gp">admin_item_gp</option>
                <option value="admin_user_gp">admin_user_gp</option>
                <option value="admin_gp">admin_gp</option>
                {% endif %}
            </select>
        </p>
        <input type="submit" value="Add">
    </form>
    <p>{{ error_message }}</p>
{% endblock %}