{% extends "AdministrationApp/base.html" %}
{% load custom_tags %}
{% block content %}
{% if request.user|has_group:"admin_gp" or request.user|has_group:"admin_item_gp" or request.user|has_group:"admin_user_gp" %}
    <p>Current group: {{ request.user.groups.all.first }}</p>
    <br>
     <div>
        <a id="addUser" href="{% url 'admin/add_user' %}">Add User</a>
        <a id="searchUser" href="{% url 'admin/search_user' %}">Search User</a>
        <a id="logs" href="{% url 'admin/admin_log' %}">Logs</a>
     </div>
    <br>
    <br>
        <table id="userTable">
            <thead>
            <tr>
                <th>User Id</th>
                <th>Username</th>
                <th>Group</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if request.user|has_group:"admin_gp" %}
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.groups.all.first }}</td>
                    <td>
                        <a class="edit" href="{% url 'admin/edit_profile' %}?id={{ user.id }}">Edit</a>
                        <a class="user_products" href="{% url 'admin/user_products' %}?id={{ user.id }}">Products</a>
                        <a class="change" href="{% url 'admin/edit_group' %}?id={{ user.id }}&group={{ user.groups.all.first }}">Change Group</a>
                        {% if user|has_group:"blocked" %}
                            <a class="block" href="{% url 'admin/unblock_user' %}?id={{ user.id }}&group={{ user.groups.all.first }}">Unblock</a>
                        {% else %}
                            <a class="block" href="{% url 'admin/block_user' %}?id={{ user.id }}&group={{ user.groups.all.first }}">Block</a>
                        {% endif %}
                        <a class="delete" href="{% url 'admin/delete_user' %}?id={{ user.id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                {% for user in members %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.groups.all.first }}</td>
                    <td>
                        <a class="edit" href="{% url 'admin/edit_profile' %}?id={{ user.id }}">Edit</a>
                        {% if request.user|has_group:"admin_item_gp" %}
                            <a class="user_products" href="{% url 'admin/user_products' %}?id={{ user.id }}">Products</a>
                        {% endif %}
                        {% if user|has_group:"blocked" %}
                            <a class="block" href="{% url 'admin/unblock_user' %}?id={{ user.id }}&group={{ user.groups.all.first }}">Unblock</a>
                        {% else %}
                            <a class="block" href="{% url 'admin/block_user' %}?id={{ user.id }}&group={{ user.groups.all.first }}">Block</a>
                        {% endif %}
                        <a class="delete" href="{% url 'admin/delete_user' %}?id={{ user.id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <br>
        <br>
       
        {% if request.user|has_group:"admin_gp" %}
            {% if users.has_previous %}
            <a class="previous" href="{% url 'admin' %}?page={{users.previous_page_number}}">Previous</a>   
            {% endif %}
            {% if users.has_next %}
            <a class="next" href="{% url 'admin' %}?page={{users.next_page_number}}">Next</a>   
            {% endif %}
        {% endif %}

        {% if request.user|has_group:"admin_item_gp" or request.user|has_group:"admin_user_gp" %}
            {% if members.has_previous %}
                <a class="previous" href="{% url 'admin' %}?page={{members.previous_page_number}}">Previous</a>
            {% endif %}
            {% if members.has_next %}
                <a class="next" href="{% url 'admin' %}?page={{members.next_page_number}}">Next</a>
            {% endif %}
        {% endif %}
        <br>
        <br>
    <p>{{ error_message }}</p>
    {% else %}
        <p>You do not have access to this page.</p>
    {% endif %}
{% endblock %}
