<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    {% load custom_tags %}
    <link rel="stylesheet" href="{% static 'AdministrationApp/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>
<body>
    <div class="topnav">
        {% if request.user.is_authenticated %}
            <a id="" href="{% url 'logout' %}">Logout</a>
        {% endif %}
        {% if not request.user.is_authenticated %}
            <a id="" href="{% url 'login' %}">Login</a>
        {% endif %}
        <p id="projectTitle">Product App</p>
        {% if request.user.is_authenticated %}
        <p id="welcomeUser">Welcome &nbsp<span class="userDisplay"> {{ request.user.username }} </span></p>
            {% if request.user|has_group:"admin_gp" or request.user|has_group:"admin_item_gp" or request.user|has_group:"admin_user_gp" %}
                <a href="{% url 'admin' %}">Admin</a>
            {% endif %}
        <a href="{% url 'view-msg' %}">Messages</a>
        <a href="{% url 'profile' %}">Profile</a>
        {% endif %}
        <a href="{% url 'products' %}">Products</a>
    </div>
    {% if request.user|has_group:"blocked" %}
        <h2>User {{ request.user.username }} is blocked from Product App.</h2>
        <h4>Please contact an admin.</h4>
    {% else %}
        {% block content %}
        {% endblock %}
    {% endif %}
</body>
</html>