{% extends "AdministrationApp/base.html" %}
{% block content %}
    <h3>Are you sure you want to block {{ user.username }}? </h3>
    <p>By blocking a user, you are restricting the user from accessing the website.</p>
    <form method="POST">
        {% csrf_token %}
        <input type="radio" name="yesNo" value="yes">
        <label for="yes">Yes</label>
        <input type="radio" name="yesNo" value="no">
        <label for="yes">No</label><br>
        <input type="submit" value="Confirm">
    </form>
    <p>{{ error_message }}</p>
{% endblock %}