{% extends 'AdministrationApp/base.html' %}
{% block content %}
    <h3>Are you sure you want to delete this product? </h3>
    <p>By deleting this product, it will be removed from the database and no longer displayed.</p>
    <form method="POST">
        {% csrf_token %}
        <input type="radio" name="yesNo" value="yes">
        <label for="yes">Yes</label>
        <input type="radio" name="yesNo" value="no">
        <label for="yes">No</label><br>
        <input type="submit" value="Confirm">
    </form>
    <p>{{ error_message }}</p>
{% endblock %}