{% extends "AdministrationApp/base.html" %}
{% load custom_tags %}
{% block content %}
    <div>
    {% if request.user|has_group:"admin_gp" or request.user|has_group:"admin_item_gp" or request.user|has_group:"admin_user_gp" %}
        <h2>Editing {{ user.username }}'s profile</h2>
        <form id="editUser" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value ="Update">
        </form>
    {% else %}
        <h4>You do not have access to this page.</h4>
    {% endif %}
    </div>
    <p>{{ error_message }}</p>
{% endblock %}
