{% extends "AdministrationApp/base.html" %}
{% load custom_tags %}
{% block content %}
    {% if request.user|has_group:"admin_gp" %}
    <h2>Editing {{ user.username }}'s group</h2>
    <h4>Current group: {{ user.groups.all.first }}</h4>
    <form method="POST">
        {% csrf_token %}
        <label for="groups"> Change group:</label>
        <select name="groups" id="groups">
            <option value="" selected disabled hidden>Select a group</option>
            <option value="members">members</option>
            <option value="admin_item_gp">admin_item_gp</option>
            <option value="admin_user_gp">admin_user_gp</option>
            <option value="admin_gp">admin_gp</option>
        </select>
        <input type="submit" value="Change">
    </form>
    <p>{{ error_message }}</p>
    {% else %}
        <h4>You do not have access to this page.</h4>
    {% endif %}
{% endblock %}