{% extends "AdministrationApp/base.html" %}
{% block content %}
    <p>Home placeholder</p>
    <p>Login form for testing admin page.</p>
    <form method="POST">
        {% csrf_token %}
        <label for="username"><b>Username:</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Login</button>
    </form>
{% endblock %}