{% extends "AdministrationApp/base.html" %}
{% load custom_tags %}
{% block content %}
    {% if request.user|has_group:"admin_gp" or request.user|has_group:"admin_item_gp" or request.user|has_group:"admin_user_gp" %}
    <h2>Admin Logs</h2>
    <br>
     <div>
        <a id="searchUser" href="{% url 'admin/search_log' %}">Search User</a>
        <a id="back" href="{% url 'admin' %}">Back</a>
     </div>
    <br>
    <br>
    <table id="logsTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs reversed %}
            <tr>
                <td>{{ log.date }}</td>
                <td>(USERID: {{ log.user.id }}) {{ log.user.username }}</td>
                <td>{{ log.type }}</td>
                <td>{{ log.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    {% if logs.has_next %}
        <a class="next" href="{% url 'admin/admin_log' %}?page={{logs.next_page_number}}">Previous</a>
    {% endif %}
    {% if logs.has_previous %}
        <a class="previous" href="{% url 'admin/admin_log' %}?page={{logs.previous_page_number}}">Next</a>
    {% endif %}
    {% else %}
        <p>You do not have access to this page.</p>
    {% endif %}
{% endblock %}