{% extends 'AdministrationApp/base.html' %}
{% load custom_tags %}
{% block content %}
    {% if request.user|has_group:"admin_gp" or request.user|has_group:"admin_item_gp" or request.user|has_group:"admin_user_gp" %}
        <h3>Search User</h3>
        <form method="POST">
            {% csrf_token %}
            <label for="username">Search user:</label>
            <input type="text" name="username" required>
            <input type="submit" value="Search">
        </form>
    {% else %}
        <p>You do not have access to this page.</p>
    {% endif %}
{% endblock %}