{% extends "AdministrationApp/base.html" %}
{% block content %}
        <br>
        <h2>{{ user.username }}'s Products</h2>
        <br>
        <div class="results_container">
            {% for p in object_list %}
            <a href="{% url 'product_details' p.pk %}?id={{ p.pk }}" class="product">
                <div class="product_section">
                    <img src="{{ p.image.url }}" alt="product" height="150px" width="150px">
                    <div class="product_info">
                        <h3> {{ p.name }} | ${{ p.price }} </h3>
                        <p> {{ p.address }} | {{ p.status }} </p>
                        <p> {{ p.description | slice:"0:45" }} </>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
{% endblock %}