{% extends "AdministrationApp/base.html" %}

{% block content %}

<br>

<section class='login_page'>

    <h1>Reset Password</h1> <br>
    <form method='post' class="login_form">
        {% csrf_token %}

        <p>Old Password: {{ form.old_password}}</p><br>

        <p>New Password: {{ form.new_password1}}</p><br>

        <p>Confirm New Password: {{ form.new_password2}}</p><br>

        <section>
            {{ error_message }}
         </section>

         <ul class="password_requirements">
            <li>can't be too similar to you other personal information</li>
            <li>must contain at least 8 characters</li>
            <li>can't be a commonly used password</li>
            <li>can't be entirely numeric</li>
        </ul>

        <br>

        <button type='submit'>Change Password</button>
    </form>
    <br>
</section>


{% endblock %}