{% extends "AdministrationApp/base.html" %}

{% block content %}

<br>

<div class='login_page'>

    <form method='post' action='' enctype='multipart/form-data' class="login_form" >
        {% csrf_token %}

        <h2>Change Profile Picture</h2>

        <p>Current Profile Picture: </p>
        <img src="{{ user.userprofile.image.url }}" width='240'> <br>

        {{ form.as_p }}

        <button type='submit'>Edit Profile Picture</button>
    </form>
    <br>

    <section>
        {{form.errors}}<br>
    </section>
</div>

<br>

{% endblock %}