{% extends "AdministrationApp/base.html" %}

{% block content %}

<br>

<section class='login_page'>
    
    <form method='post' class="login_form">
        
        <h1>Edit Profile</h1>

        {% csrf_token %}

        <p>Username: {{ form.username}}</p><br>
        
        <p>First Name: {{form.first_name}} </p><br>
        
        <p>Last Name:  {{form.last_name}}</p><br>
        
        <p>Email: {{form.email}}</p><br>
         
        <p>Profile Picture: </p><br>
        <img src="{{ user.userprofile.image.url }}" width='240'> <br>
        <p>Change profile picture <a href="{% url 'edit_picture' %}">here</a></p>

        <p>Reset Password <a href="{% url 'change_password' %}">here</a></p>

        <button type='submit'>Edit Profile</button>
         
    </form>
    <br>

    <section>
        {{form.errors}}<br>
    </section>

</section>
<br>

{% endblock %}