{% extends "AdministrationApp/base.html" %}

{% block content %}
<br>

<section class='login_page'>

    <h1>Login</h1> 
    <form method='POST' action='' class="login_form">

        {% csrf_token %}
    
        <p>Username: </p>
        <input type='text' name='username' placeholder="Username...">
    
        <p>Password: </p>
        <input type='password' name='password' placeholder="Password..."><br>
    
        <input type='submit' value="Login">
    
        <p>Not registered? <a href="{% url 'register' %}">register</a></p> 
    
    </form>

    <section>
       
    {% for message in messages %}
        
       <p>{{message}}</p>
        
        {% endfor %}

        {{form.error}} 
    </section>

</section>

{% endblock %}