{% extends "AdministrationApp/base.html" %}
{% load custom_tags %}
{% block content %}
<br>
{% if request.user.is_authenticated %}
<div class='login_page'>

    <h1> {{request.user.username}} 's profile</h1><br>

    <img src="{{ user.userprofile.image.url }}" width='240'>

    <h3>Username: {{ request.user.username }}</h3><br>

    <h3>First Name: {{ request.user.first_name }}</h3><br>

    <h3>Last Name: {{ request.user.last_name }}</h3><br>

    <h3>Email:  {{ request.user.email }}</h3><br>

    

    <p>Want to edit your profile? <a href="{% url 'edit_profile' %}">edit</a></p>
</div>
{% else %}
    <p>You are not signed in.</p>
{% endif %}


{% endblock %}