{% extends "AdministrationApp/base.html" %}

{% block content %}

<br>

<section class='login_page'>

    <h1>Register</h1> 
    <form method='POST' action='' class="login_form">

        {% csrf_token %}

        <p>Username: {{ form.username }}</p><br>
        
        <p>First Name: {{ form.first_name }} </p><br>
        
        <p>Last Name:  {{ form.last_name }}</p><br>
        
        <p>Email: {{ form.email }}</p><br>

        <p>Password: {{ form.password1 }}</p><br>
        
        <p>Confirm Password: {{form.password2}}</p><br>

        <section>
            {{ error_message }}
         </section>

         <ul class="password_requirements">
             <li>can't be too similar to you other personal information</li>
             <li>must contain at least 8 characters</li>
             <li>can't be a commonly used password</li>
             <li>can't be entirely numeric</li>
         </ul>

         <br>
    
        <input type='submit' value="register">
    
        <p>Already have an account? <a href="{% url 'login' %}">login</a></p> 
    
    </form>


</section>

{% endblock %}