@font-face{
    font-family: GilroyLight;
    src: url('../fonts/Gilroy-Light.otf')
}

@font-face{
    font-family: GilroyBold;
    src: url('../fonts/Gilroy-ExtraBold.otf')
}

body {
    margin: 0;
    font-family: GilroyLight;
    display: block;
  }
  
.topnav {
    overflow: hidden;
    background-color: #333;
    padding: 14px 25px;
  }
  
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
  }


.topnav a:hover {
    background-color: rgb(184, 181, 207);
    color: black;
  }
  
.topnav a.active {
    background-color: #5267c5;
    color: white;
  }

#welcomeUser{
    color: white;
    float: right;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
}

.userDisplay{
    color:#a3b2f8
}

#projectTitle{
    float: left;
    color: white;
    font-size: 20px;
}

.results_container{
    max-width: 900px;
    margin: auto;
    overflow: hidden;
}

.product_section{
    background-color: white;
    border: 1px solid #5267c5;
    margin-top: 10px;
    height: 200px;
    text-decoration: none;
}

.product_section:hover{
    background-color: rgb(184, 181, 207);
    color: rgb(184, 181, 207);
}

img{
    margin-left: 10px;
    text-align: left;
}

.product_info{
    text-align: left;
    margin-top: 50px;
    width: 700px;
    margin-left: 20px;
    display: inline-block;
    color: #5267c5;
}
.pagination{
    margin-left: 65%;
}

.details_container{
    width: 75%;
    margin: auto;
}

.overview{
    float: left;
}

.details{
    margin: 95px;
    float: left;
    width: 40%;
}

.filtering{
    float: left;
    margin-left: 20px;
}

.filtering a{
    display: block;
    max-width: 100px;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
}

.filtering a:hover{
    color: #5267c5;
}

.searching{
    float: right;
    margin-right: 5%;
}

.main_content div{
    display: block;
}

#searchbtn{
    background-color: #5267c5;
    border: none;
    padding: 5px;
}

#searchbtn:hover{
    background-color: rgb(184, 181, 207);
}

.product_detailview{
    margin: auto;
    position: relative;
    height: 80%;
    width: 70%;
}

.likes button, .flag button{
    background-color: #5267c5;
    border: none;
    margin: 5px;
    padding: 5px;
}

.likes button:hover, .flag button:hover{
    background-color: rgb(184, 181, 207);
}

.comment-section{
    position: relative;
    margin-top: 40%;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}



