@font-face{
    font-family: GilroyLight;
    src: url('../fonts/Gilroy-Light.otf')
}

@font-face{
    font-family: GilroyBold;
    src: url('../fonts/Gilroy-ExtraBold.otf')
}

body {
    margin: 0;
    font-family: GilroyLight;
  }
  
.topnav {
    overflow: hidden;
    background-color: #333;
    padding: 14px 25px;
  }
  
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
  }


.topnav a:hover {
    background-color: rgb(184, 181, 207);
    color: black;
  }
  
.topnav a.active {
    background-color: #5267c5;
    color: white;
  }

#welcomeUser{
    color: white;
    float: right;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
}

.userDisplay{
    color:#a3b2f8
}

#projectTitle{
    float: left;
    color: white;
    font-size: 20px;
}

.register_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px gray;

}
.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register_page{
  text-align: center;
}

.login_page{
  text-align: center;
  width: 30%;
  margin: auto;
  border: 2px solid gray;
}

.register_page{
  text-align: center;
  width: 40%;
  margin: auto;
  border: 2px solid gray;
}

#headers{
  text-align: center;
}

h1{
  text-align: center;
}

ul.password_requirements{
  list-style-type: none;
  border: solid 2px gray;
  padding: 6px;
  margin: auto;
  text-align: left;
}