{% extends 'AdministrationApp/base.html' %}
{% block content %}
  <div>
    <h1> Add a new Product </h1>
    <form method="POST" action="" enctype="multipart/form-data" class="add_product">
      {% csrf_token %}
      <p> Name of the product: {{ form.name }} </p>
      <p> Genre: {{ form.genre }} </p>
      <p> Description: {{ form.description }} </p>
      <p> Price: {{ form.price }} </p>
      <p> Address: {{ form.address }} </p>
      <p> Status: {{ form.status }} </p>
      <p> Rate: {{ form.rate }} </p>
      <p> Image: {{ form.image }} </p>
        <button type='submit'>Add Product</button>
    </form>
  </div>
{% endblock %}