<h1>Add comment</h1>
<form method="POST">
    {% csrf_token %}
    <fieldset>
        <legend> Write your comment </legend>
        {{ form }}
        <button type="submit" name='product_id' value="{{ object.id }}">P O S T</button>
    </fieldset>
</form>