{% extends 'AdministrationApp/base.html' %}
{% block content %}
    <div class="filtering">
        <h4> Filter by: </h4>
        <a href="{% url 'products' %}" class="filter"> All products </a>
        <a href="{% url 'new_products' %}" class="filter"> New </a>
        <a href="{% url 'used_products' %}" class="filter"> Used </a>
        <h4> Order by: </h4>
        <a href="{% url 'price-low-high' %}"> Price (low to high) </a>
        <a href="{% url 'price-high-low' %}"> Price (high to low) </a>
        <a href="{% url 'rate-low-high' %}"> Rate (low to high) </a>
        <a href="{% url 'rate-high-low' %}"> Rate (high to low) </a>
        <a href="{% url 'title-asc' %}"> Title (ascending) </a>
        <a href="{% url 'title-desc' %}"> Title (descending) </a>
        </div>
    </div>

    <div id="main_content">
        <div class="searching">
            <h4> Search: </h4>
            <form method=POST action="{% url 'search' %}">
                {% csrf_token %}
                <input type="text" name="search_product" maxlength="100">
                <button id="searchbtn"> Search </button>
            </form>
            <br>
            <br>
            {% if request.user.is_authenticated %}
            <a href="{% url 'add-product' %}"id="add_product">Add Product</a>
            {% endif %}

        </div>

        <div class="results_container">
            {% if search_product %}
            <h1> Results for {{ search_product }} </h1>
            {% endif %}
            {% for p in object_list %}
            <a href="{% url 'product_details' p.pk %}" class="product">
                <div class="product_section">
                    <img src="{{ p.image.url }}" alt="product" height="150px" width="150px">
                    <div class="product_info">
                        <h3> {{ p.name }} | ${{ p.price }} </h3>
                        <p> {{ p.address }} | {{ p.status }} </p>
                        <p> {{ p.description | slice:"0:45" }} </p>
                    </div>
                </div>
            </a>
            {% endfor %}

            <br>
            <br>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class='next' href="?page=1">&laquo;first</a>
                        <a class='next' href="?page={{ page_obj.previous_page_number}}">previous</a>
                    {% endif%}
                    <span class="current">
                        Page {{ page_obj.number}} of {{ page_obj.paginator.num_pages}}.
                    </span>
                    {% if page_obj.has_next%}
                        <a class='next' href="?page={{ page_obj.next_page_number}}">next</a>
                        <a class='next' href="?page={{ page_obj.paginator.num_pages}}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <br>
            <br>
        </div>
    </div>

    
{% endblock %}


