{% extends 'AdministrationApp/base.html' %}
{% load custom_tags %}
{% block content %}
    <br>
    <br>
    <section class="product_detailview">
            <div class="overview">
                <h1 id="title"> {{ object.name }} ({{ object.status }})</h1>
                <h3> ${{ object.price }} - {{ object.address }} </h3>
                <img src="{{ object.image.url }}" alt="product" width="400px" height="400px">

                <section class="likes">
                    {% if user.is_authenticated %}
                    <form action="{% url 'like_product' object.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="product_like" value="{{ object.id }}" class="likebtn"> Like this product </button>
                        <strong>{{ number_of_likes }} likes. </strong>
                    </form>
                    {% else %}
                    <strong>{{ number_of_likes }} likes. </strong>
                    You have to be logged in to like.
                    {% endif %}
                </section>

                <section class="flag">
                    {% if user.is_authenticated %}
                    <form action="{% url 'flag_product' object.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="product_flag" value="{{ object.id }}" class="flagbtn"> Flag </button>
                        <strong>{{ number_of_flags }} flags. </strong>
                    </form>
                    {% else %}
                    <strong>{{ number_of_flags }} flags. </strong>
                    You have to be logged in to flag.
                    {% endif %}
                </section>
            </div>

            <div class="details">
                <h3> Description </h3>
                <span> {{ object.description }} </span>
                <p> <b> From: </b> {{ object.owner.username }} </p>
                <p> <b> Genre: </b> {{ object.genre }} </p>
                {% load ratings %}
                {% ratings object %}
            </div>

            <br>
            <br>
        {% if request.user|has_group:"admin_gp" or request.user|has_group:"admin_item_gp" %}
           <a class="edit_product" href="{% url 'admin/edit_products' %}?id={{ object.pk }}">Edit</a>
            <br>
            <br>
            <br>
            <br>
            <a class="delete_product" href="{% url 'admin/delete_product' %}?id={{ object.pk }}">Delete</a>
        {% endif %}
    </section>


    <section class="comment-section">
        {% if user.is_authenticated %}
        {% include 'ItemApp/post_comment.html'%}
        {% else %}
        Please log in to comment.
        {% endif %}
        <h3> Comments </h3>
        <br/>
        {% if not object.comments.all %}
            No Comments Yet
        {% else %}
            {% for comment in object.comments.all %}
            <strong>
                {{ comment.user.username }} -
                {{ comment.date_added }}
            </strong>
            <br/>
            {{ comment.body }}
            <hr>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}