{% extends 'AdministrationApp/base.html' %}
{% block content %}
    <div class="filtering">
        <h4> Filter by: </h4>
        <a href="{% url 'products' %}" class="filter"> All products </a>
        <a href="{% url 'new_products' %}" class="filter"> New </a>
        <a href="{% url 'used_products' %}" class="filter"> Used </a>
        <h4> Order by: </h4>
        <a href="{% url 'price-low-high' %}"> Price (low to high) </a>
        <a href="{% url 'price-high-low' %}"> Price (high to low) </a>
        <a href="{% url 'rate-low-high' %}"> Rate (low to high) </a>
        <a href="{% url 'rate-high-low' %}"> Rate (high to low) </a>
        <a href="{% url 'title-asc' %}"> Title (ascending) </a>
        <a href="{% url 'title-desc' %}"> Title (descending) </a>
        </div>
    </div>

    <div id="main_content">

        <div class="searching">
            <h4> Search: </h4>
            <form method=POST action="{% url 'search' %}">
                {% csrf_token %}
                <input type="text" name="search_product" maxlength="100">
                <button id="searchbtn"> Search </button>
            </form>
        </div>

        <div class="results_container">
            {% if search_product %}
            <h1> Results for {{ search_product }} </h1>
            {% endif %}
            {% for product in products %}
              <a href="{% url 'product_details' product.pk %}" class="product">
                <div class="product_section">
                    <img src="{{ product.image.url }}" alt="product" height="150px" width="150px">
                    <div class="product_info">
                        <h3> {{ product.name }} | ${{ product.price }} </h3>
                        <p> {{ product.address }} | {{ product.status }} </p>
                        <p> {{ product.description | slice:"0:45" }} </p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}