<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Placeholder</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'MessageApp/css/theme.css' %}">
</head>
<body>
    <div class="topnav">
        <a href="">Logout</a>
        <p id="projectTitle">Product App</p>
        <p id="welcomeUser">Welcome &nbsp<span class="userDisplay"> username</span></p>
        <a href="{% url 'admin' %}">Admin</a>
        <a href="">Messages</a>
        <a href="">Profile</a>
        <a href="">Products</a>
        <a class="active" href="{% url 'index' %}">Home</a>
    </div>
    <p>Message placeholder</p>
</body>
</html>