{% extends 'AdministrationApp/base.html' %}
    {% block content %}
    <br>
    <form method="POST" class='login_form'>
        {% csrf_token %}
        <fieldset>
            <legend> Send A Message </legend>


            <h3>Title: {{form.title}}</h3><br>

            <h3>content:</h3>
            {{form.content}}<br>

            <h3>Recipient: {{form.to_id}}</h3><br>

        </fieldset>
            <button type="submit">Post</button>
    </form>
    {% endblock %}
<!--
creates a proper for the user to use for messaging another user 
-->	