{% extends 'AdministrationApp/base.html' %}
    {% block content %}
    <br>
    <section >

        <h1>INBOX</h1>
        <br>
        <button><a href="{% url 'send-msg' %}"> Send Message</a></button>
        <br>
        <br>
        <section class='message'>

        {% for a_msg in object_list %}
        {% if messages%}

            {% for message in messages %}
            {% if message|stringformat:"s" == a_msg.content %}
            <div class="new_msg">
            <h4> NEW - From: {{ a_msg.source_id.username }} | {{ a_msg.source_id.email }}</h4>
            <h4> Title: {{ a_msg.title }} |  {{ a_msg.date }}</h4>

            <p>Message: {{ a_msg.content }}</p>
            <hr>
            </div>

            {% endif %}
            {% if message|stringformat:"s" != a_msg.content %}

            <h4>From: {{ a_msg.source_id.username }} | {{ a_msg.source_id.email }}</h4>
            <h4> Title: {{ a_msg.title }} |  {{ a_msg.date }}</h4>

            <p>Message: {{ a_msg.content }}</p>
            <hr>

            {% endif %}
        {% endfor %}

        {% endif %}
        {% if not messages%}

            <h4>From: {{ a_msg.source_id.username }} | {{ a_msg.source_id.email }}</h4>
            <h4> Title: {{ a_msg.title }} |  {{ a_msg.date }}</h4>

            <p>Message: {{ a_msg.content }}</p>
            <hr>

        {% endif %}
        {% endfor %}

    </section>
    <br>

    {% endblock %}
	<!--
	Uses a for loop to display each messages that user received
	If user send message to himself, new messages will be displayed with label "NEW"
	-->